//- contivio.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/buckingham/buckingham-header.jpg')")
	div(class="container")
		h1
			a(href="http://www.buckinghamstudio.com/" target="_blank") Buckingham Studio
		div(class="two-thirds")
			p.
				David Buckingham roams the windblown alleys, abandoned factories, gritty industrial areas, dodgy neighborhoods, and low deserts of Southern California in search of the cast away, the discarded, the forgotten: old 55-gallon barrels, wheelbarrows, tool boxes, road signs, tractor parts, car doors, gas cans, etc. These battered relics are carted to a dusty studio in downtown Los Angeles where they are muscled into works of art with a bewildering array of power tools and sheer force of will. All colors are original as found; David Buckingham is no painter.

			p.
				For this project, I teamed up with the preeminent Los Angeles multidisciplinary design studio, <a href="http://forthandback.la">Forth and Back</a>, who envisioned a unique user interface for this horizonatlly scrolling website.

		div(class="one-third")
			+mobileWireframe('buckingham', 'Buckingham-Mobile', true)

	div(class="container")
			+desktopWireframe('buckingham', 'BuckinghamSplash', true)

	div(class="container")
		+fullImg("buckingham", "buckingham-shows")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("buckingham", "Buckingham-Mobile-Menu")

		div(class="two-thirds")
			+cropped("buckingham", "buckingham-grind")

	div(class="container")
		+desktopWireframe('buckingham', 'BuckinghamContact')
		
	div(class="container")
		div(class="two-thirds")
			+cropped("buckingham", "buckingham-night")
			
		div(class="one-third")
			+mobileWireframe("buckingham", "BuckinghamMobileOverlay")


		
