//- contivio.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/contivio/contivio-header.jpg')")
	div(class="container")
		h1
			a(href="https://www.contivio.com/" target="_blank") Contivio
		div(class="two-thirds")
			p.
				Contivio is a plugin for CRM software that acts as an all-inclusive cloud contact center for sales and support teams.
			p.
				The graphic artists at <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a> redesigned the company’s website, and I delivered on the development work.

		div(class="one-third")
			+mobileWireframe('contivio', 'contivio-mobile', true)

	div(class="container")
			+desktopWireframe('contivio', 'contivio-home', true)

	div(class="container")
		+fullImg("contivio", "pricing")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("contivio", "menu")

		div(class="two-thirds")
			+cropped("contivio", "working")

	div(class="container")
		+desktopWireframe('contivio', 'testimonials')

	div(class="container")
		+fullImg('contivio', 'deep-dive')
