//- contivio.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/contivio/contivio-header.jpg')")
	div(class="container")
		h1
			a(href="https://www.contivio.com/" target="_blank") Contivio
		div(class="two-thirds")
			p.
				Contivio is a plugin for CRM software that acts as an all-inclusive cloud contact center for sales and support teams. Their technology promotes more efficient marketing strategy by effectively managing high volume client profiles.

			p.
				Contivio was a client of <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>, a highly regarded design studio based in Laguna Beach, California. The studio was tasked with a redesign for this company’s website, and I delivered on the development work required for their design.

		div(class="one-third")
			+mobileWireframe('contivio', 'contivio-mobile', true)

	div(class="container")
			+desktopWireframe('contivio', 'contivio-home', true)

	div(class="container")
		+fullImg("contivio", "pricing")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("contivio", "menu")

		div(class="two-thirds")
			+cropped("contivio", "working")

	div(class="container")
		+desktopWireframe('contivio', 'testimonials')

	div(class="container")
		+fullImg('contivio', 'deep-dive')
