//- Fix.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/fix/fix-header.jpg')")
	div(class="container")
		h1
			a(href="http://fixmfg.com/" target="_blank") Fix MFG
		div(class="two-thirds")
			p.
				Fix Manufacturing creates wearable multi-tools for outdoor sports such as skateboarding, mountain biking, snowboarding and surfing. By building a multi-tool that fits directly into a belt buckle, Fix Manufacturing helps sports enthusiasts make sure that their tools are within reach, wherever and whenever they need them.
			p.
				This project was one of many in which I had the opportunity to collaborate with the premier graphic and web design studio in Laguna Beach, California - <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>. As always, they did an excellent job designing this website, and I’m glad to have been able to work with them by covering the development for this project.

		div(class="one-third")
			+mobileWireframe('fix', 'fix-home-mobile', true)

	div(class="container")
			+desktopWireframe('fix', 'fix-home-desktop', true)

	div(class="container")
		+fullImg("fix", "first-grid")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("fix", "our-tools-mobile")

		div(class="two-thirds")
			+cropped("fix", "tool-tip")

	div(class="container")
		+fullImg('fix', 'skateboard')

	div(class="container")
		+desktopWireframe('fix', 'fix-explore-desktop')

	div(class="container")
		div(class="two-thirds")
			+cropped('fix', 'second-grid')

		div(class="one-third")
			+mobileWireframe('fix', 'stay-tuned-mobile')

	div(class="container")
		+fullImg('fix', 'our-tools')
