//- FNB.pug

extends layout.pug

block content
	img(id="header-img" src="/images/fnb/fnb-header.jpg")
	div(class="container")
		h1
			a(href="http://www.forthandback.la" target="_blank") Forth + Back
		div(class="two-thirds")
			p.
				Forth + Back is a multidisciplinary design studio based in Los Angeles, California. From company branding to product design, they have worked on a variety of projects across a myriad of industries, including notable clients such as UC Riverside Arts Block museum and the local LA favorite, Sunnin.
			p.
				For this project, I had the opportunity to collaborate with the up and coming graphic design studio in Los Angeles, California, <a href="http://www.forthandback.la" target="_blank">Forth and Back</a>. They did an impeccable job with the website design, and I was able to deliver on the development of this project.

		div(class="one-third")
			+mobileWireframe('fnb', 'fnb-mobile', true)

	div(class="container")
			+desktopWireframe('fnb', 'fnb-about', true)

	div(class="container")
		+fullImg("fnb", "metal")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("fnb", "mobile-board")

		div(class="two-thirds")
			+cropped("fnb", "fnb-computers")

	div(class="container")
		+fullImg('fnb', 'fnb-work-shot')

	div(class="container")
		+desktopWireframe('fnb', 'fnb-alter-ego', true)

	div(class="container")
		+fullImg('fnb', 'mother')
