//- index.pug

extends layout.pug

block scripts
	style.
		body nav{
			display:none;
		}
		#name{
			display:block;
			display:none;
		}
		#preloader{
			display: flex;
		}
block content
	style.
		body #footer{
			display: none;
			padding: 5vw 2%;
		}
