//- laf.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/laf/laf-header.jpg')")
	div(class="container")
		h1
			a(href="http://lagunaart.wpengine.com/" target="_blank") Laguna Art Museum
		div(class="two-thirds")
			p.
				Laguna Art Museum collects and exhibits art created by California natives exclusively, depicting the life and history of the state. I had the opportunity to collaborate with the premier Laguna Beach graphic and web design studio, <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>.
			p.
				They designed the website, and I completed all development for this project.

		div(class="one-third")
			+mobileWireframe('laf', 'laf-mobile', true)

	div(class="container")
			+desktopWireframe('laf', 'laf-home', true)

	div(class="container")
		+fullImg("laf", "centennial")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("laf", "laf-about-mobile", true)

		div(class="two-thirds")
			+cropped("laf", "laf-sign")

	div(class="container")
		+fullImg('laf', 'search')

	div(class="container")
		div(class="two-thirds")
			+cropped("laf", "gallery")

		div(class="one-third")
			+mobileWireframe("laf", "laf-menu")

	div(class="container")
		+desktopWireframe('laf', 'events')

	div(class="container")
		+fullImg('laf', 'celebrate')
