//- layout.pug
include ./includes/mixins.pug

html
	head
		title Alex Miklovic
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='https://unpkg.com/flipping@latest/dist/flipping.gsap.js')
		script(src='js/barba.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
		script(src='js/main.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js')
		link(rel='icon', href='/images/favicon.png')
		link(rel='stylesheet', href='/css/main.css')
	body
		block scripts
		include includes/nav.pug
		#preloader
			#preload-inner
				//- A
				+letterA('name-letter hidden','A1')
				//- L
				+letterL('name-letter hidden', 'L1')
				//- E
				+letterE('name-letter hidden', 'E1')
				//- X
				+letterX('name-letter hidden', 'X1')
				//- M
				+letterM('name-letter hidden', 'M1')
				//- I
				+letterI('name-letter hidden', 'I1')
				//- K
				+letterK('name-letter hidden', 'K1')
				//- L
				+letterL('name-letter hidden', 'L2')
				//- O
				+letterO('name-letter hidden', 'O1')
				//- V
				+letterV('name-letter hidden', 'V1')
				//- I
				+letterI('name-letter hidden', 'I2')
				//- C
				+letterC('name-letter hidden', 'C1')
		#name
			#bio(data-flip-key="bio")
				p(class="vaporize hide") Alex Miklovic creates cool things for the web. If you're a graphic design or web development studio seeking to push the boundaries of website design, please drop me a line here!
			//- A
			+letterA('name-letter','A1')
			//- Laguna Art Museum
			div(class="name-letter portfolio hidden" data-flip-key="laguna")
				a(href="/laf.html")
					h2 Laguna Art Museum
					img(src="/images/laf2.jpg")
				div(class="cover")
			//- Buckingham Studio
			div(class="name-letter portfolio hidden" data-flip-key="buckingham")
				a(href="/buckingham.html")
					h2 Buckingham Studio
					img(src="/images/buckingham.jpg")
				div(class="cover")
			//- L
			+letterL('name-letter','L1')
			//- PowerCrunch
			div(class="name-letter portfolio hidden" data-flip-key="powercrunch")
				a(href="/powercrunch.html")
					h2 Power Crunch
					img(src="/images/powercrunch3.jpg")
				div(class="cover")
			//- Fix MFG
			div(class="name-letter portfolio hidden" data-flip-key="fix")
				a(href="/fix.html")
					h2 FIX MFG
					img(src="/images/fix2.jpg")
				div(class="cover")
			//- E
			+letterE('name-letter','E1')
			//- Sambazon
			div(class="name-letter portfolio hidden" data-flip-key="sambazon")
				a(href="/sambazon.html")
					h2 Sambazon
					img(src="/images/sambazon.jpg")
				div(class="cover")
			+smileyFace()
			//- X
			+letterX('name-letter','X1')
			//- Mammoth
			div(class="name-letter portfolio hidden" data-flip-key="mammoth")
				a(class="no-trigger" href="https://friendly-booth-b16746.netlify.com/" target="_blank")
					h2 Mammoth
					img(src="/images/mammoth.jpg")
				div(class="cover")
			//- BGColorMorph
			div(class="name-letter portfolio hidden" data-flip-key="bg-color-morph")
				a(class="no-trigger" href="https://awmiklovic.github.io/BGColorMorph/" target="_blank")
					h2 BG Color Morph
					img(src="/images/bgcolormorph.jpg")
				div(class="cover")
			//- M
			+letterM('name-letter','M1')
			//- Contivio
			div(class="name-letter portfolio hidden" data-flip-key="contivio")
				a(href="/contivio.html")
					h2 Contivio
					img(src="/images/contivio2.jpg")
				div(class="cover")
			//- Forth and Back
			div(class="name-letter portfolio hidden" data-flip-key="forthandback")
				a(href="/fnb.html")
					h2 Forth + Back
					img(src="/images/fnb.jpg")
				div(class="cover")
			//- I
			+letterI('name-letter','I1')
			//- Protohomes
			div(class="name-letter portfolio hidden" data-flip-key="protohomes")
				a(href="/protohomes.html")
					h2 Protohomes
					img(src="/images/protohomes.jpg")
				div(class="cover")
			//- K
			+letterK('name-letter','K1')
			//- L
			+letterL('name-letter','L2')
			//- Trensor
			div(class="name-letter portfolio hidden" data-flip-key="trensor")
				a(href="/trensor.html")
					h2 Trensor
					img(src="/images/trensor.jpg")
				div(class="cover")
			//- O
			+letterO('name-letter','O1')
			//- V
			+letterV('name-letter','V1')
			//- I
			+letterI('name-letter','I2')
			//- Straight Talk MD
			div(class="name-letter portfolio hidden" data-flip-key="stmd")
				a(class="no-trigger" href="http://straighttalkmd.com/" target="_blank")
					h2 Straight Talk MD
					img(src="/images/stmd.jpg")
				div(class="cover")
			//- Brunch
			div(class="name-letter portfolio hidden" data-flip-key="brunch")
				a(class="no-trigger" href="https://brunch.digital" target="_blank")
					h2 Brunch.Digital
					img(src="/images/brunch.jpg")
				div(class="cover")
			//- C
			+letterC('name-letter','C1')
		#barba-wrapper
			div(class='barba-container')
				block content
		#footer
			p &copy; Alex Miklovic. All rights reserved.
