//- Powercrunch.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/powercrunch/powercrunch-header.jpg')")
	div(class="container")
		h1
			a(href="https://www.powercrunch.com" target="_blank") Power Crunch
		div(class="two-thirds")
			p.
				Power Crunch creates protein rich drinks, powders, and wafer bars that can be found in grocery stores, gyms, and Costco locations all across the country.
			p.
				The graphic designers at <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a> designed the website, and I executed all development for this project.

		div(class="one-third")
			+mobileWireframe('powercrunch', 'powercrunch-home-mobile', true)

	div(class="container")
			+desktopWireframe('powercrunch', 'powercrunch-product-viewer', true)

	div(class="container")
		+fullImg("powercrunch", "powercrunch-shop-desktop")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("powercrunch", "powercrunch-bars-mobile")

		div(class="two-thirds")
			+cropped("powercrunch", "powercrunch-shop-cropped")
