//- Powercrunch.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/powercrunch/powercrunch-header.jpg')")
	div(class="container")
		h1
			a(href="https://www.powercrunch.com" target="_blank") Power Crunch
		div(class="two-thirds")
			p.
				Power Crunch creates protein rich drinks, powders, and wafer bars for adults and children. Power Crunch products are packed with their signature hydrolyzed whey protein, designed to give advanced nutrition in the form of a delicious snack. They can be found in grocery stores, gyms, and Costco locations all across the country.
			p.
				The Power Crunch project was a collaborative effort with the leading Laguna Beach graphic and web design studio, <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>. The talented graphic designers there designed the website, and I had the opportunity to execute all development for this project.

		div(class="one-third")
			+mobileWireframe('powercrunch', 'powercrunch-home-mobile', true)

	div(class="container")
			+desktopWireframe('powercrunch', 'powercrunch-product-viewer', true)

	div(class="container")
		+fullImg("powercrunch", "powercrunch-shop-desktop")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("powercrunch", "powercrunch-bars-mobile")

		div(class="two-thirds")
			+cropped("powercrunch", "powercrunch-shop-cropped")
