//- protohomes.pug

extends layout.pug

block content
	img(id="header-img" src="/images/protohomes/proto-header.jpg")
	div(class="container")
		h1
			a(href="http://www.protohomes.com" target="_blank") Protohomes
		div(class="two-thirds")
			p.
				Proto Homes is transforming the homebuilding industry by standardizing the process with their high-quality patented components. The component options allow for personalization without overwhelming clients with infinite choices. Proto Homes’ technology combined with transparent, affordable pricing has made them a premier brand in the prefab home market.
			p.
				This project was one of my many collaborative efforts with <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>, the premier design studio based in Laguna Beach, California. Based upon their clean and careful design of the website, I was able to complete the work required on the development end of this project.

		div(class="one-third")
			+mobileWireframe('protohomes', 'proto-mobile', true)

	div(class="container")
			+desktopWireframe('protohomes', 'home-demo', true)

	div(class="container")
		+fullImg("protohomes", "bed")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("protohomes", "flipcard")

		div(class="two-thirds")
			+cropped("protohomes", "house")

	div(class="container")
		+fullImg('protohomes', 'cta')
