//- protohomes.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/protohomes/proto-header.jpg')")
	div(class="container")
		h1
			a(href="http://www.protohomes.com" target="_blank") Protohomes
		div(class="two-thirds")
			p.
				Proto Homes is transforming the homebuilding industry by standardizing the process with their high-quality patented components, making them the premier brand in the prefab home market.
			p.
				Based on the work of the talented designers at <a href="http://www.studiomisfits.com" target="_blank">Studio Misfits</a>, I completed all the work on the development end of this project.

		div(class="one-third")
			+mobileWireframe('protohomes', 'proto-mobile', true)

	div(class="container")
			+desktopWireframe('protohomes', 'home-demo', true)

	div(class="container")
		+fullImg("protohomes", "bed")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("protohomes", "flipcard")

		div(class="two-thirds")
			+cropped("protohomes", "house")

	div(class="container")
		+fullImg('protohomes', 'cta')
