//- sambazon.pug

extends layout.pug

block content
	img(id="header-img" src="/images/sambazon/sambazon-header.jpg")
	div(class="container")
		h1
			a(href="https://www.sambazon.com/" target="_blank") Sambazon
		div(class="two-thirds")
			p.
				Sambazon was the first company to bring A&ccedil;a&iacute;, a powerhouse berry from the Amazon, to the U.S. with the belief that this unique superfood can change the world. They are dedicated not only to their customers, but also to their farmers, and they are committed to sharing their sustainable nutrition to shape a positive future.
			p.
				Sambazon is a large venture that has been made possible through the collaboration of several web design and development studios. Through my relationship with the reputable graphic and web design studio in Laguna Beach, California, <a href="http://www.studiomisfits.com" target="blank">Studio Misfits</a>, I am proud to have contributed to various web development aspects of this project.

		div(class="one-third")
			+mobileWireframe('sambazon', 'sambazon-demo-mobile', true)

	div(class="container")
			+desktopWireframe('sambazon', 'sambazon-demo', true)

	div(class="container")
		+fullImg("sambazon", "sambazon")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("sambazon", "join-us")

		div(class="two-thirds")
			+cropped("sambazon", "bowl")

	div(class="container")
		+fullImg('sambazon', 'join-us-desktop')

	div(class="container")
		+desktopWireframe('sambazon', 'retail')

	div(class="container")
		+fullImg('sambazon', 'map')
