//- sambazon.pug

extends layout.pug

block content
	img(id="header-img" src="/images/sambazon/sambazon-header.jpg")
	div(class="container")
		h1 Sambazon
		div(class="two-thirds")
			p.
				Sambazon was the first company to bring Açaí, a powerhouse berry from the Amazon, to the U.S. with the belief that this unique superfood can change the world. They are dedicated not only to their customers, but also to their farmers, and they are committed to sharing their sustainable nutrition to shape a positive future.
			p.
				This project was one of many in which I had the opportunity to collaborate with the premier graphic and web design studio in Laguna Beach, California - Studio Misfits. As always, they did an excellent job designing this website, and Im glad to have been able to work with them by covering the development for this project.

		div(class="one-third")
			+mobileWireframe('sambazon', 'sambazon-demo-mobile', true)

	div(class="container")
			+desktopWireframe('sambazon', 'sambazon-demo', true)

	div(class="container")
		+fullImg("sambazon", "sambazon")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("sambazon", "join-us")

		div(class="two-thirds")
			+cropped("sambazon", "bowl")

	div(class="container")
		+fullImg('sambazon', 'join-us-desktop')

	div(class="container")
		+desktopWireframe('sambazon', 'retail')

	div(class="container")
		+fullImg('sambazon', 'map')
