//- sambazon.pug

extends layout.pug

block content
	div(id="header-img-wrap")
		div(id="header-img" style="background-image:url('/images/sambazon/sambazon-header.jpg')")
	div(class="container")
		h1
			a(href="https://www.sambazon.com/" target="_blank") Sambazon
		div(class="two-thirds")
			p.
				Sambazon was the first company to bring Açaí, a powerhouse berry from the Amazon, to the U.S. with the belief that this unique superfood can change the world.
			p.
				Through my relationship with <a href="http://www.studiomisfits.com" target="blank">Studio Misfits</a>, I was able to be part of this extensive project and contribute to various elements of the web development.

		div(class="one-third")
			+mobileWireframe('sambazon', 'sambazon-demo-mobile', true)

	div(class="container")
			+desktopWireframe('sambazon', 'sambazon-demo', true)

	div(class="container")
		+fullImg("sambazon", "sambazon")

	div(class="container")
		div(class="one-third")
			+mobileWireframe("sambazon", "join-us")

		div(class="two-thirds")
			+cropped("sambazon", "bowl")

	div(class="container")
		+fullImg('sambazon', 'join-us-desktop')

	div(class="container")
		+desktopWireframe('sambazon', 'retail')

	div(class="container")
		+fullImg('sambazon', 'map')
