@font-face {
    font-family: Sporting Bold;
    src: url("/fonts/SportingGrotesque-Bold.otf");
}

@font-face {
    font-family: Sporting;
    src: url("/fonts/SportingGrotesque-Regular.otf");
}


body{
    a{
        color:inherit;
    }
    opacity: 0;
    transition: opacity 600ms;
    background: #ffffff;
    &.loaded{
        opacity: 1;
    }
    h1,h2,h3,h4{
        font-family: "Sporting Bold";
    }
    margin:0px;
    font-family: "Sporting";
    line-height: 1.5;
    text-align: justify;
    .container {
        padding: 15px 15px;
        @media all and (min-width: 768px){
          padding: 35px 50px;
        }
        box-sizing: border-box;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        &:last-child{
          padding-bottom: 0px;
        }
    }
    h1{
        text-transform:uppercase;
        text-decoration:underline;
        font-weight:300;
        font-size: 20px;
        text-align:left;
        margin-bottom: 25px;
        @media all and (min-width: 600px){
            font-size: 26px;
            margin-bottom: 35px;
        }
    }
    p {
        margin-top: 0;
        font-size: 16px;
        @media all and (min-width: 600px){
            font-size: 20px;
            line-height: 2;
        }
    }
    img{
        width: 100%;
    }
    .one-third{
        width: 100%;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0px;
          @media all and (min-width: 768px){
            margin-bottom: 25px;
          }
        }
        @media all and (min-width: 768px){
          margin-bottom: 25px;
        }
        @media all and (min-width: 900px){
            width:33.33%;
            padding-left:2%;
            margin-bottom: 0px;
        }
        box-sizing:border-box;
        display:inline-block;
        vertical-align:top;
        &:first-child{
            padding-left:0px;
            @media all and (min-width: 900px){
                padding-right: 2%;
            }
        }
    }

    .two-thirds{
        width: 100%;
        padding: 0px;
        margin-bottom: 25px;
        &:last-child{
          margin-bottom: 0px;
          margin-top: 15px;
          @media all and (min-width: 768px){
            margin-bottom: 25px;
            margin-top: 0px;
          }
        }
        @media all and (min-width: 900px){
            width:66.66%;
            padding-right:2%;
            margin-bottom: 0px;
        }
        box-sizing:border-box;
        display:inline-block;
        vertical-align:top;
        &:last-child{
            padding-right:0px;
            @media all and (min-width: 900px){
                padding-left:2%;
            }
        }
    }
    nav{
        display:block;
        box-sizing: border-box;
        position:relative;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 15px;
        @media all and (min-width: 768px){
          padding: 25px 50px;
        }
        #nav-name{
            width: 80px;
            @media all and (min-width: 768px){
              width: 150px;
            }
            cursor: pointer;
            img.name-letter{
                width: 25%;
                margin-bottom: 0px;
            }
        }
        div#buttons {
            position: absolute;
            right: 15px;
            top: calc(50% - 7px);
            font-size: 12px;
            @media all and (min-width: 600px){
                font-size: 20px;
                top: 40%;
                right: 50px;
            }
            text-decoration: underline;
            a{
                cursor: pointer;
                font-family: "Sporting Bold";
                color: black;
                &:first-child{
                    margin-right: 7vw;
                    @media all and (min-width: 600px){
                        margin-right: 100px;
                    }
                }
            }
        }
    }
    #footer{
        padding: 25px 15px;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        @media all and (min-width: 768px){
          padding: 35px 50px;
        }
        //margin: 0px;
        p{
            font-size: 12px;
            margin: 0px;
            @media all and (min-width: 900px){
                font-size: 14px;
            }
        }
    }
}

img.name-letter{
    width: 100%;
    margin-bottom: 25px;
    @media all and (min-width: 600px){
        width: 50%;
        margin-bottom: 0px;
    }
    @media all and (min-width: 900px){
        width: 25%;
    }
	height:auto;
    padding: 2%;
    box-sizing: border-box;
    z-index:10;
}


.name-letter {
    width: 100%;
    margin-bottom: 25px;
    @media all and (min-width: 600px){
        width: 50%;
        margin-bottom: 0px;
    }
    @media all and (min-width: 900px){
        width: 25%;
    }
    padding: 2%;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
	img{
	    width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
	}
	.cover {
	    width: 0%;
	    background: #ffffff;
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	    transition: 600ms;
	    transition-timing-function: ease-in-out;
        z-index: 101;
	}
	&.hidden{
		.cover{
			width:100%;
		}
	}
    a{
        cursor: pointer;
        display:block;
        &:hover{
            cursor: pointer;
        }
        h2{
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            line-height: 0;
            margin: 0;
            top: 50%;
            color: black;
            text-decoration:underline;
            text-transform:uppercase;
            font-size: 4vw;
            @media all and (min-width: 600px){
                font-size: 2.8vw;
            }
            @media all and (min-width: 900px){
                font-size: 1vw;
            }
            @media all and (min-width: 1400px){
                font-size: 14px;
            }
        }
        img{
            z-index:100;
            position:relative;
            transition:600ms;
            transition-property: opacity;
            cursor: pointer;
        }
        &:hover{
            img{
                opacity: 0;
            }
        }
    }
    &.portfolio{
        z-index: 9;
        cursor: pointer;
        &:hover{
            cursor: pointer;
        }
    }
}

#name{
	display:none;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

div#bio {
    width: 100%;
    @media all and (min-width:900px){
        width: 50%;
    }
    padding: 2%;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: 2;
    font-weight: 100;
    vertical-align:top;
    line-height:1.5;
    //padding-top:1%;
    margin: 0px;
    p{
        font-size: 4vw;
        text-align: left;
        margin-bottom: 25px;
        @media all and (min-width:900px){
            font-size: 1.4vw;
            margin:0px;
            margin-bottom:20px;
        }
        @media all and (min-width: 1100px){
            text-align: justify;
            font-size: 1.5vw;
        }
        @media all and (min-width: 1400px){
            text-align: justify;
            font-size: 20px;
            line-height: 1.5;
        }
        &:last-child{
            margin-bottom:25px;
            @media all and (min-width:900px){
                margin-bottom:0px;
            }
        }
    }
}

.vaporize{
	&.hide{
		span{
			opacity: 0;
		}
	}
}

div#barba-wrapper {
    #header-img-wrap{
      padding: 0px 0px;
      @media all and (min-width: 768px){
        padding: 0px 50px;
      }
    }
    #header-img{
        width:100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 0px 0px;
        height: 200px;
        @media all and (min-width: 498px){
          height: 500px;
        }
        background-size: cover;
        background-position: center center;
        background-color: #fafafa;
        @media all and (min-width: 768px){
          padding: 0px 50px;
        }
        box-sizing: border-box;
    }
    .barba-container{
        transition-property: opacity;
        transition: 600ms;
    }
}


.mobile-wireframe{
    position:relative;
    img{
        position:relative;
        z-index:100;
    }
    .inner{
        width: 93.5%;
        padding-bottom: 164.5%;
        position: absolute;
        top: .5%;
        left: 6%;
        background-size: cover;
        background-position: center top;
        overflow: hidden;
        transition: 600ms;
        transition-property: opacity;
        z-index: 99;
        video.vid{
            position: absolute;
            left: -1%;
            top: 0%;
            width: 103%;
            //height:100%;
            opacity: 0;
            z-index: 100;
            transition: opacity 600ms linear, z-index 0ms linear 0ms;
        }
        .vid-overlay {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: black;
            z-index: 10;
            transition: 600ms;
            &.center{
                left: 0%;
            }
            &.right{
                left: 100%;
            }
        }
    }
    &.show{
        video.vid{
            opacity:1;
            z-index: 99;
        }
        .play-btn{
            opacity:0;
        }
    }
}


.desktop-wireframe{
    position:relative;
    img{
        z-index: 100;
        position: relative;
    }
    .inner{
        position: absolute;
        left: 2.3%;
        top: .5%;
        width: 97.5%;
        padding-bottom: 57.5%;
        background-size: cover;
        overflow: hidden;
        background-position: center top;
        transition: 600ms;
        transition-property: opacity;
        z-index: 99;
        video.vid{
            position: absolute;
            left: -1%;
            top: 0%;
            width: 102%;
            //height: 100%;
            transition: 600ms;
            transition-property: opacity;
            opacity: 0;
            z-index:100;
        }
        .vid-overlay {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: black;
            z-index: 10;
            transition: 600ms;
            &.center{
                left: 0%;
            }
            &.right{
                left: 100%;
            }
        }
    }
    img.link{
        opacity:0;
        position:absolute;
        right:.3%;
        top:.6%;
        max-width:50px;
        transition: 600ms;
        cursor: pointer;
    }
    &:hover img.link{
        opacity: 1;
    }
    &.show{
        video.vid{
            opacity: 1;
            z-index: 99;
        }
        .play-btn{
            opacity:0;
        }
    }
}

.cropped-img {
    width: 100%;
    padding-bottom: 83.2%;
    background-size: cover;
    background-position: center top;
}

.overlay-name{
    width: 80%;
}

.vid-overlay{
    display:flex;
    align-items:center;
    justify-content:center;
}

.shadow{
    box-shadow: 0px 0px 25px #a7a7a7;
}

.play-btn {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - 50px);
    z-index:102;
    img{
        filter: drop-shadow(0px 0px 25px #333);
    }
    cursor: pointer;
    transition: 600ms;
    transition-property: opacity;
    display:none;
    @media all and (min-width: 600px){
        display:block;
    }
}

#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

#preload-inner img.name-letter {
    width: 60px;
    margin-bottom: 0px;
    display: inline-block;
    cursor: pointer;
    &.hidden{
      display: none;
    }
}

canvas#scene {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
