//- nav.pug

nav
	#nav-name
		//- A
		img(class="name-letter" src="/images/slice1.svg" data-flip-key="A1")
		//- L
		img(class="name-letter" src="/images/slice2.svg" data-flip-key="L1")
		//- E
		img(class="name-letter" src="/images/slice11.svg" data-flip-key="E1")
		//- X
		img(class="name-letter" src="/images/slice4.svg" data-flip-key="X1")
		//- M
		img(class="name-letter" src="/images/slice12.svg" data-flip-key="M1")
		//- I
		img(class="name-letter" src="/images/slice5.svg" data-flip-key="I1")
		//- K
		img(class="name-letter" src="/images/slice7.svg" data-flip-key="K1")
		//- L
		img(class="name-letter" src="/images/slice3.svg" data-flip-key="L2")
		//- O
		img(class="name-letter" src="/images/slice8.svg" data-flip-key="01")
		//- V
		img(class="name-letter" src="/images/slice9.svg" data-flip-key="V1")
		//- I
		img(class="name-letter" src="/images/slice6.svg" data-flip-key="I2")
		//- C
		img(class="name-letter" src="/images/slice10.svg" data-flip-key="C1")
	#buttons
		a(id="prev") Previous
		a(id="next") Next